# python
.venv
__pycache__

# dependencies
nyanlook_web/node_modules
nyanlook_web/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
nyanlook_web/coverage

# next.js
nyanlook_web/.next/
nyanlook_web/out/

# production
nyanlook_web/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
